/* write your code here */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }


  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #124f90;
    color: #94bf50
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }


  .flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .flex-container > div {
    width: 33%; /* Adjust the width based on your layout */
    margin: 10px;
    box-sizing: border-box; 
  }


  img {
    width: 100%;

  }




  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
    margin-bottom: 2rem;
  }


  h1 {
    color: #124f90;
    margin-bottom: 5px;
  }
  
  h2 {
    font-size: 1.2em;
    margin: 5px 0;
  }
  
  h3 {
    font-style: italic;
    color: #555;
    margin-top: 5px;

  }


  .top-part{
    background-color: #94bf50;
    padding: 1rem;
  }